body {
    margin: 0;
    box-sizing: border-box;
    background-color: #BBBBBB;
}

.page-container {
    position: relative;
    height: 100vh;
}

.content-wrap {
    padding-bottom: 3rem;
}

header {
    width: 100vw;
    background-color: #333333;
    min-height: 66px;
    max-height: 74px;
    display: flex;
    align-items: center;
}

footer {
    width: 100%;
    height: 3rem;
    position: absolute;
    bottom: 0;
    background-color: #333333;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* margin-top: 128px; */
}

footer.relative {
    position: relative;
}

.footer-text {
    vertical-align: middle;
    display: inline-block;
    line-height: normal;
    text-align: center;
    color: white;
    font-size: 0.9375rem;
}

p, h1, h2, h3, summary {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin: 0;
    font-family: sans-serif;
    color: #333;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 1rem;
}

h2 {
    font-size: 2.875rem;
    font-weight: bold;
}

h3 {
    font-size: 1.5rem;
    font-weight: normal;
    padding-bottom: 1rem;
}

p, summary {
    font-size: 1.125rem;
}

.inline {
    display: inline;
}

.navlink {
    color: #00b8d4;
    text-justify: left;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 33px;
    min-height: 66px;
    max-height: 74px;
    font-size: 1.075rem;
}

.navlink.current {
    color: #b2f5ea;
    font-weight: bold;
    font-size: 1.1375rem;
}

.navlink:hover {
    color: white;
}

a {
    text-decoration: none;
}

.main {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* min-height: 85vh; */
    margin-top: 128px;
    margin-bottom: 128px;
    box-sizing: border-box;
}

.main > * {
    vertical-align: middle;
    display: flex;
    line-height: normal;
    text-align: center;
}

.portrait {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-bottom: 2rem;
}

button, .submit-button{
    background-color: white;
    border-color: #007EA8;
    border: 2px solid;
    border-radius: 0.25rem;
    color: #007EA8;
    display: inline-flex;
    padding: 0.5625rem 1.20313rem 0.6875rem 1.25rem;
    align-items: flex-start;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}

button:hover, .submit-button:hover{
    background-color: #007EA8;
    border-color: white;
    color: white;
}

embed {
    max-width: 720px;
    width: 45rem;
    height: 60vh;
}

summary {
    margin-top: 0.75rem;
    color: #333;
    font-size: 1.125rem;
}

ul {
    padding: 0;
    margin-top: 1rem;
}

li {
    color: #333;
    padding: 0.5rem;
    /* display: inline-block; */
    /* margin-right: 10px; */
    font-family: sans-serif;
    font-size: 1.1875rem;
}

.small-text {
    padding: 0.5rem;
    color: #333;
    font-size: 0.875rem;
}

.email {
    color: #00E;
    font-size: 1.6875rem;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.form-container {
    display: flex;
    flex-direction: column;
}

form {
    display: block;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}